<!--Footer Starts Here-->
<section class="sc-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 hidden-lg hidden-sm hidden-md">
                <div class="logo-sec-xs  wow flipInY">
                    <img src="assets/images/footer-logo.png" class="img-responsive">
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="contract-sec wow flipInY">
                    <h2 class="footer-title">Contract Vehicles:</h2>
                    <a href="https://www.sba.gov/federal-contracting/contracting-assistance-programs/8a-business-development-program" target="_blank"><img src="assets/images/sba1-logo.png" class="img-responsive sba-1"></a>
                    <a href="https://www.gsaelibrary.gsa.gov/ElibMain/contractorInfo.do?contractNumber=GS-35F-201GA&contractorName=LION+FEDERAL%2C+LLC&executeQuery=YES" target="_blank"><img src="assets/images/gsa-logo.png" class="img-responsive sba-2"></a>

                    <a href="https://www.LionFederal.com/digicloud.html" target="_blank"><img src="assets/images/digicloud.png" class="img-responsive sba-2"></a>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 hidden-xs">
                <div class="logo-sec  wow flipInY">
                    <img src="assets/images/footer-logo.png" class="img-responsive"><br><br>
                    <img src="assets/images/swam.webp" class="img-responsive"><br>
                    <img src="assets/images/MBE_DBE.png" class="img-responsive"><br>
                    <center><img src="assets/images/iso9000.png" width="50%" height="50%" class="img-responsive"></center><br>
                </div>
            </div>

            <div class="col-md-3 col-md-offset-1 col-sm-4">
                <div class="contact-sec  wow flipInY">
                    <h2 class="footer-title">CONTACT US:</h2>
                    <div class="footer-media">
                        <div class="media-left">
                            <div class="object-handler">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <a href="https://maps.app.goo.gl/U3uJLCCgtXbLeVQk6" target="_blank"><p>Main Office<br>1521 Westbranch Drive<br> Suite 625<br> McLean, VA 22102</p></a>
                        </div>
                    </div>

                    <div class="footer-media">
                        <div class="media-left">
                            <div class="object-handler">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <a href="tel:703-214-8808"><p>703-214-8808</p></a>
                        </div>
                    </div>
                    <div class="footer-media">
                        <div class="media-left">
                            <div class="object-handler">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <a href="mailto:info@lionfederal.com"><p>info@lionfederal.com</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer-foot">
    <div class="container">
        <div class="row">
            <div class="pull-left">
                <p class="color-white" id="year"></p>
            </div>
            <div class="pull-right">
                <ul class="footer-socialmedia">
                    <a href="https://www.linkedin.com/company/lion-federal/" target="_blank"><li><i class="fa fa-linkedin" aria-hidden="true"></i></li></a>
                    <a href="https://facebook.com/lionfederalconsulting" target="_blank"><li><i class="fa fa-facebook" aria-hidden="true"></i></li></a>
                    <a href="https://twitter.com/LionFederal" target="_blank"><li><i class="fa fa-twitter" aria-hidden="true"></i></li></a>
                    <a href="https://instagram.com/lionfederal" target="_blank"><li><i class="fa fa-instagram" aria-hidden="true"></i></li></a>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--Footer Ends Here-->
<script>
var currentYear = new Date().getFullYear();
document.getElementById("year").innerHTML =
  "&copy; " + currentYear + " All rights reserved. " +
  "<a href='https://www.lionfederal.com/privacy-policy.html' style='color: inherit; text-decoration: underline;'>Privacy Policy</a>";
</script>

